# 1. Import Libraries

In [1]:
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import matplotlib.pyplot as plt

# 2. Source & Store

In [2]:
# Import Supply data
Supply = pd.read_csv("MOCK_SUPPLY.csv")
Supply.head()

,Name,Role,Years Experience,Certifications,Market knowledge,Regulatory knowledge,Audit knowledge,Organization knowledge,Systems Knowledge,Processes knowledge,Previous Audits,Unavailability
0,Deidre,Supervisor,11,ACA,1,4,1,1,1,3,False,November
1,Karia,Head of Mission,19,ACA,4,4,4,2,1,1,True,January
2,Cornela,Supervisor,7,CQF,1,3,1,4,4,2,True,June
3,Giffard,Head of Mission,14,FRM,2,1,3,3,4,2,False,January
4,Lorry,Head of Mission,5,CQF,1,4,3,4,1,1,True,July

In [16]:
# Import Demand data

Demand = pd.read_csv("MOCK_DEMAND.csv")
Demand.head()

   Assignment Name               Topic  Workload  Market Knowledge  \
9          Zontrax  Product Management       270                 4
27         Fixflex           Marketing       302                 2
28      Voltsillam            Training       212                 4
30      Y-Solowarm               Legal       420                 4
34           Otcom            Services       450                 4

    Regulatory knowledge  Audit knowldege  Organization knowledge  \
9                      3                4                       3
27                     3                3                       3
28                     4                2                       3
30                     4                1                       4
34                     4                3                       4

    System knowledge  Processes knowledge  Previous Audits Certifications  \
9                  1                    3            False          Other
27                 4                    2             True            FRM
28                 2                    3            False            ACA
30                 2                    1             True            CFA
34                 3                    1             True            CQF

               Role Date Required
9   Head of Mission      February
27  Head of Mission           May
28  Head of Mission         April
30  Head of Mission      February
34  Head of Mission     September

In [22]:
# Resources with Regulatory knowledge 3 and 4

#number_of_people_in_sales = 0
# role_filt = Demand.loc[Demand['Role'] == 'Head of Mission']
# unavailability_filt = role_filt.loc[role_filt['Regulatory knowledge'] > 2]
# print(unavailability_filt)

RegKnowledge_filt = Supply.loc[Supply['Regulatory knowledge'] > 3]

        
print(RegKnowledge_filt)

        Name             Role  Years Experience Certifications  \
0     Deidre       Supervisor                11            ACA
1      Karia  Head of Mission                19            ACA
4      Lorry  Head of Mission                 5            CQF
9    Georgie          Auditor                 8          Other
12      Faun          Auditor                11          Other
13    Carlie  Head of Mission                19            CFA
15      Roda  Head of Mission                 2          Other
16  Consuela  Head of Mission                10            ACA
23    Abramo          Auditor                13            ACA
37    Libbie       Supervisor                20            CFA
40  Germaine       Supervisor                 8          Other
43  Clemente       Supervisor                18            CQF
45      Fabe          Auditor                19            CQF
46     Dasha       Supervisor                17            CFA
47       Gus          Auditor                 3            FRM

    Market knowledge  Regulatory knowledge  Audit knowledge  \
0                  1                     4                1
1                  4                     4                4
4                  1                     4                3
9                  3                     4                3
12                 2                     4                2
13                 4                     4                4
15                 4                     4                1
16                 2                     4                1
23                 2                     4                2
37                 4                     4                3
40                 1                     4                1
43                 2                     4                3
45                 4                     4                4
46                 2                     4                4
47                 2                     4                4

    Organization knowledge  Systems Knowledge  Processes knowledge  \
0                        1                  1                    3
1                        2                  1                    1
4                        4                  1                    1
9                        4                  4                    2
12                       4                  3                    1
13                       2                  2                    2
15                       1                  1                    3
16                       1                  1                    1
23                       3                  3                    3
37                       3                  2                    2
40                       4                  4                    2
43                       4                  1                    3
45                       3                  4                    1
46                       3                  4                    4
47                       2                  1                    3

    Previous Audits Unavailability
0             False       November
1              True        January
4              True           July
9              True       November
12             True          April
13             True      September
15            False      September
16             True       December
23            False        January
37            False          March
40             True           July
43             True        January
45            False            May
46            False      September
47             True            May